<footer>
  <div class="footer-content">
   <div>
      <%= link_to "/", class: "img" do %>
       <%= image_tag "https://res.cloudinary.com/dllghzftv/image/upload/v1683548192/LogoWhite_cmbp7k.png" %>
     <% end %>
    </div>
        <div class= "pages">
          <p><%= link_to t("about-link"), root_path(anchor: 'about'), class:"link-footer" %></p>
          <p><%= link_to t("privacy"), cookies_path, class:"link-footer" %></p>
          <p><%= link_to t("legal"), legal_path, class:"link-footer" %></p>
          <p><%= link_to t("contactus"), contacts_path, class:"link-footer" %></p>

        </div>
    <div class="footer-links">
     <a href="#"><i class="fab fa-facebook"></i><p>Facebook</p></a>
     <a href="#"><i class="fab fa-instagram"></i><p>Instagram</p></a>
    </div>
  <hr class="line">
  <div class="footer-copyright">
     © Copyright 2023, All Rights Reserve by Lebkuchen aus Rodgau
  </div>
  </div>

</footer>
