<footer>
  <div class="footer-content">
   <div>
      <%= link_to "/", class: "img" do %>
       <%= image_tag "https://res.cloudinary.com/dllghzftv/image/upload/v1674840904/Group_32_2_cz1naq.png" %>
     <% end %>
    </div>
        <div class= "pages">
          <p><%= link_to "About", root_path(anchor: 'about'), class:"link-footer" %></p>
          <p><%= link_to "Privacy Policy", findus_path, class:"link-footer" %></p>
          <p><%= link_to "Legal", findus_path, class:"link-footer" %></p>
          <p><%= link_to "Contact", contacts_path, class:"link-footer" %></p>

        </div>
    <div class="footer-links">
     <a href="#"><i class="fab fa-facebook"></i><p>Facebook</p></a>
     <a href="#"><i class="fab fa-instagram"></i><p>Instagram</p></a>
    </div>
  <hr class="line">
  <div class="footer-copyright">
     © Copyright 2023, All Rights Reserve by Lebkuchen aus Rodgau
  </div>
  </div>

</footer>
