<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dllghzftv/image/upload/v1682360170/Group_32_2_cz1naq_srxn5j.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to "About", root_path(anchor: 'about'), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Produtcs", root_path(anchor: 'products-cards'), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Event", event_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Where to buy", findus_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact", contacts_path, class: "nav-link" %></li>
      </div>
      <div class="navbar-nav btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-light" for="btnradio1"><%= link_to "de", locale: "de", class: "nav-link" %></label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-light" for="btnradio2"><%= link_to "en", locale: "en", class: "nav-link" %></label>
      </div>
    </div>
  </div>
</nav>
