<div class="hrmobile"><hr></div>
<div class= "location-title"></div>
  <div class= "banner1 hide-on-tablet hide-on-mobile">
  <h1><%= t("wheretofindus") %></h1>
</div>
<div class="container-location" >
  <div class="cards-map">
    <% @locations.each do |location| %>
    <div class="information-location">
        <div style="margin:10px;"><%= image_tag("icon.svg", id: "icon") %></div>
        <div style="margin: 10px 10px;">
          <div><h5 class="card-title"><%= location.name %></h5></div>
          <div class="mb-3"><p class="card-text"><%= location.address %></p></div>
          <div><p class="link-map" id="local" data-lng="<%= location.longitude %>" data-lat="<%= location.latitude %>"><%= t("aufderkartesehen") %></p></div>
        </div>
    </div>
     <hr class="hrfindus">
    <% end %>

  </div>
  <div id="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
