 <h1>Locations</h1>


  <div id = "map" style="width: 60%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


  <div class="container-location" >
    <div id="cards" data-controller="card">
    <% @locations.each do |location| %>
    <div class="card" data-action = "click->card#disable" data-card-target="card"
            data-latitude="<%= location.latitude %>"
            data-longitude="<%= location.longitude %>"></div>
    <h5 class="card-title"><%= location.name %></h5>
    <p class="card-text"><%= location.address %></p>
    <%= image_tag("icon.svg") %>

    <% end %>
    </div>
  </div>
