
<div class= "banner">
  <div class="content">
      <h1>Lebkuchen</h1>
      <h2>The most delicious cookie in all of Europe, <br> surprise yourself with the flavour</h2>
        <%= link_to "Where to buy", "/findus", class: "btn btn-flat" %>
  </div>
</div>
<div >
  <div class="home-story">
    <div class="photo">
      <%= image_tag("about.svg", style: "width: 500px; height: 500px;") %>
    </div>
    <div class="story" style="width: 700px; height: 420px;">
      <h2 id="about">About Lebkuchen-aus-Rodogau</h4>
      <h3>Baking Passion Turned Business</h3>
       <p><%= t("history") %></p>
          <%= link_to "Find us!", "/findus", class: "btn-findus" %>
          </div>
    </div>
  </div>

  <div class="home-story">
    <div class="story" style="width: 700px; height: 420px;padding-top: 100px">
      <h2 id="products">Our Lebkuchen</h2>
      <p><%= t("lebkuchen") %></p>
    </div>
      <div class="photo">
        <%= image_tag("handslebkuchen.svg", style: "width: 500px; height: 500px;") %>
      </div>
  </div>
</div>

<h3> <%= t("welcome") %></h3>
