<div class="hrmobile"><hr></div>
  <div class="container" data-controller="slider">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-12 col-lg-3 col-xxl-6">
        <swiper-container class="mySwiper" navigation="true">
          <swiper-slide data-swiper-slide-index="0" data-slider-target="slide"><%= image_tag "chocoflavor.svg", size: "350x350", alt: "chocolate" %></swiper-slide>
          <swiper-slide data-swiper-slide-index="1" data-slider-target="slide"><%= image_tag "plainflavor.svg", size: "350x350", alt: "plainflavor" %></swiper-slide>
          <swiper-slide data-swiper-slide-index="2" data-slider-target="slide"><%= image_tag "sugarflavor.svg", size: "350x350", alt: "sugarflavor" %></swiper-slide>
        </swiper-container>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-6">
        <h2><%= t("almond") %></h2>
        <p class="flavors"><%= t("slogan") %></p>
        <p class="flavors"><%= t("lebkuchen") %></p>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-6">
          <p class="flavors"><strong><%= t("flavors") %></strong></p>
            <div class="btn-prod" data-target="slider.buttons">
              <%= link_to t("Nozes"), "#", class: "btn-flavor me-2", data: { action: "click->slider#goTo", target: "slider.button", index: 0 } %>
              <%= link_to t("Sugar"), "#", class: "btn-flavor me-2", data: { action: "click->slider#goTo", target: "slider.button", index: 1 } %>
              <%= link_to t("Dark"), "#", class: "btn-flavor me-2", data: { action: "click->slider#goTo", target: "slider.button", index: 2 } %>
            </div>
        </div>
      </div>
      <div class= "container">
        <div>
          <p class="flavors"><strong><%= t("listingr") %></strong></p>
            <hr class="hr-product">
            <p><%= t("ingredients") %> </p>
            <p><strong>KANN SPUREN ANDERER SCHALENFRÜCHTE ENTHALTEN.
            Enthält GLUTEN (Semmelbrösel, Oblaten)</strong></p>
        </div>
      </div>
      <div style="margin-top: 50px">
        <p class="flavors"><strong>Nährwerttabelle</strong></p>
        <hr class="hr-product">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Durchschnittliche Nährwerte</th>
            <th scope="col">pro</th>
            <th scope="col">pro</th>
          </tr>
        </thead>
          <tbody>
        <tr>
          <th scope="row">1 Stück ca. 60g</th>
          <td>100g</td>
          <td>Stück</td>
        </tr>
        <tr>
          <th scope="row">Brennwert</th>
          <td>1638kj/390kcal</td>
          <td>983kj/234kcal</td>
        </tr>
          <tr>
          <th scope="row">Fett davon gesättigte Fettsäuren</th>
          <td>20,30g</td>
          <td>12,18g</td>
        </tr>
        <tr>
          <th scope="row">Kohlehydrate davon Zucker</th>
          <td>40,82g</td>
          <td>24,49g</td>
        </tr>
        <tr>
          <th scope="row">Ballaststoffe</th>
          <td>4,29g</td>
          <td>2,57g</td>
        </tr>
        <tr>
          <th scope="row">Eiweiß</th>
          <td>8,30g</td>
          <td>4,98g</td>
        </tr>
        <tr>
          <th scope="row">Salz</th>
          <td>0,21g</td>
          <td>0,13g</td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
