<div class="container align-items-start">
  <span id="page_title">Contact us!</span>
  <p>If you have any questions about our products or if you simply want to say hello, please contact us. We'll be happy to assist you and get back to you as soon as possible. Thank you for visiting!</p>
</div>

<div class="container justify-content-center">
 <div class ="row">
  <div class="col-md-6">
   <%= simple_form_for @contact do |f| %>
        <%= f.input :name, placeholder: "Your name" %><br>
        <%= f.input :email, placeholder: "Your Email" %><br>
        <%= f.input :message, as: :text %><br>
        <div class="d-none">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname, hint: 'Leave this field blank' %>
        </div>
        <%= f.button :submit, "Send us a message", class: "b-findus" %>
    <% end %>
    </div>

   <div class="col-md-6 gx-5 ">
      <div class="photo">
          <%= image_tag("lebkuchen-contact.png", style: "width: 500px; height: 500px;") %>
      </div>
    </div>
 </div>
</div>
