<% if cookies.kind_of? ActionDispatch::Cookies::CookieJar %>
  <% if cookies && cookies['cookie_eu_consented'] != 'true' %>
    <div id="cookies-eu-banner" class="cookies-eu js-cookies-eu" data-controller="cookie-banner" <%= "dir=rtl" if I18n.exists?('cookies_eu.direction', I18n.locale) && I18n.t("cookies_eu.direction") == "rtl"  %>>
      <span class="cookies-eu-content-holder"><%= t('cookies_eu.cookies_text') %></span>
      <span class="cookies-eu-button-holder">
        <button class="cookies-eu-ok js-cookies-eu-ok" data-cookie-banner-target="cookie-banner.okButton" data-action="click->cookie-banner#hide"> <%= t('cookies_eu.ok') %> </button>
        <% if I18n.exists?('cookies_eu.privacy_policy_link', I18n.locale) %>
          <a href="<%= t('cookies_eu.privacy_policy_link') %>" class="cookies-eu-link" target="<%= defined?(target).present? ? target : '' %>"> <%= t('cookies_eu.privacy_policy') %> </a>
        <% end %>
      </span>
      <span class="bar cookies-eu-lang-switcher">
        <a href="<%= "#{request.path}?locale=de" %>" class="cookies-eu-lang-link">DE</a>
        <span class="divide">|</span>
        <a href="<%= "#{request.path}?locale=en" %>" class="cookies-eu-lang-link">EN</a>
      </span>
    </div>
  <% end %>
<% else %>
  <% raise Exception.new "'cookies' is a reserved Rails class, please rename your method" %>
<% end %>
